.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card{
	height: 500px;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.05);
}
.contacts_body{
	padding:  0.75rem 0;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	border-radius: 15px 15px 0 0;
	border-bottom: 0;
}
.card-footer{
	border-radius: 0 0 15px 15px;
	border-top: 0;
}
.container{
	align-content: center;
}

.type_msg{
	background-color: rgba(0,0,0,0.2);
	border:0;
	color:white;
	height: 60px;
	overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none;
    outline:0px;
}
.attach_btn{
	border-radius: 15px 0 0 15px;
	background-color: rgba(0,0,0,0.3);
	border:0;
	color: white;
	cursor: pointer;
}
.send_btn{
	border-radius: 0 15px 15px 0;
	background-color: rgba(0,0,0,0.3);
	border:0;
	color: white;
	cursor: pointer;
}
.search_btn{
	border-radius: 0 15px 15px 0;
	background-color: rgba(0,0,0,0.3);
	border:0;
	color: white;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100%;
	padding: 5px 10px;
	margin-bottom: 15px;
}
.contacts li .btn{
	width: 100%;
	padding: 5px 10px;
	border: 1px solid rgba(0,0,0,0.2)
}

.active_contacts{
	background-color: rgba(0,0,0,0.2);
	box-shadow: 1px 1px inset;
}

.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: black;
}
.user_info p{
	font-size: 10px;
	color: red;
}

.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #78e08f;
	font-size: 16px;
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #82ccdd;
	font-size: 16px;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(0,0,0,0.8);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(0,0,0,0.8);
	font-size: 10px;
}
.msg_head{
	position: relative;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: black;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: silver;
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 30px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
	color: black;
}
.action_menu ul li i{
	padding-right: 10px;

}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
	text-decoration: underline;
	color: white;
}
@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px;
	}
}
